/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2015, 2:47:47 PM
    Author     : Student
*/

body { 
    background-image: url("http://www.hdwallpapersinn.com/wp-content/uploads/2014/10/3931-pc-ware-1366x768-computer-wallpaper.jpg")
     
} 
h1 {
   color: white;
       
}
h2 {
   color: white;
      background-color: blue 
}
h3 {
   color: white;
   
}
#animateList li a {
    cursor: pointer;
    transition: padding-left 250ms ease-out;
    /* trans pattern:  property duration timingMethod delay */
}
#animateList li a:hover {
    padding-left: 20px;
}
.jumbotron {
    background-color: darkcyan;
    padding: 0px
}
h4 {
    background-color: blue
}
 *{
    cursor: none;
}
 
figure#mouse-pointer {
    background-image: url('https://gp5.googleusercontent.com/-ZIXcUEp7tMU/AAAAAAAAAAI/AAAAAAAAAAA/WR8SMNhKGOM/s48-c-k-no/photo.jpg?sz=50');
    width: 44px;
    height: 44px;
    position: absolute;
    margin-left: -8px; 
    display: block;
}
